*{
    margin: 0;
    padding: 0;
}
.navContainer{
    background-color: aqua;
    display: flex;
    justify-content: space-between;
}
.listContainer{
    background-color: azure;
    display: flex;
    gap: 40px;
    list-style: none;
    align-items: center;
}
.fakeIcon{
    width: 80px;
    height: 40px;
    background-color: red;
}
.burgerIcon{
    width: 80px;
    height: 40px;
    background-color: yellow;
    display: none;
}
@media screen and (max-width:650px) {
    .listContainer{
        display: none;
    }
    .burgerIcon{
        display: block;
    }
}