.container{
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(3,1fr);
}
.item{
    height: 300px;
    background-color: red;
}
.customItem{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: yellow;
}
.secondItem{
    grid-column-start: 2;
    grid-column-end:4;
    background-color: green;
}
.lastItem{
    grid-column-start: 1;
    grid-column-end:4;
    background-color: blue;
}

@media screen and (max-width: 550px) {
    .mobileItem{
        grid-column-start: unset;
        grid-column-end: unset;
    }

    .container{
        grid-template-columns: repeat(2,1fr);
    }
}