*{
    margin: 0px;
    padding: 0px;
}
.spacer{
    width: 50px;
    height: 50px;
    background-color: green;
}
.children{
    width: 50px;
    height: 50px;
    background-color: red;
    position: sticky;
    top: 10px;
}
.itemToScroll{
    height: 1000px;
    background-color: gray;
}
.container{
    height: 400px;
    width: 250px;
    background-color: black ;
    position: relative;
}
.itemsContainer{
    height: 20px;
    width: 20px;
    background-color: blue;
    position: absolute;
    top: 0;
    right: 0;
}